{{#each this}}
<h2 class="country-name-header">{{name}}</h2>
<div class="info">
  <div class="info__data">
    <div class="info__capital"><strong>Capital:</strong> {{capital}}</div>
    <div class="info__population"><strong>Population:</strong> {{population}}</div>
    <div class="info__languages">
      <h3>Languages:</h3>
      <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="info__flag">
    <img src="{{flag}}" alt="Official flag of {{name}}" class="info__image">
  </div>
</div>
{{/each}}